@media (max-width: 1200px) {
    .section {
        padding-left: calc(50% - 480px);
        padding-right: calc(50% - 480px);
    }
    
}

@media (max-width: 992px) {
    .section {
        padding-left: calc(50% - 360px);
        padding-right: calc(50% - 360px);
    }
    
}

@media (max-width: 768px) {
    .section {
        padding-left: calc(50% - 270px);
        padding-right: calc(50% - 270px);
    }
   
}

@media (max-width: 576px) {
    
}
