@media (max-width: 1200px) {
    .section {
        padding-left: calc(50% - 240px);
        padding-right: calc(50% - 240px);
    }
    
}

@media (max-width: 992px) {
    .section {
        padding-left: calc(50% - 180px);
        padding-right: calc(50% - 180px);
    }
    
}

@media (max-width: 768px) {
    .section {
        padding-left: calc(50% - 135px);
        padding-right: calc(50% - 135px);
    }
   
}

@media (max-width: 576px) {
    
}
