.checkbox {
    font-size: 16px;
    span {
        position: absolute;
        left: 40px;
        top: 0;
        line-height: 28px;
    }
}
.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
}
.label-cbx input:checked + .checkbox-animated {
    border-color: $main-red;
}
.label-cbx input:checked + .checkbox-animated svg path {
    fill: $main-red;
}
.label-cbx input:checked + .checkbox-animated svg polyline {
    stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox-animated svg path {
    stroke-dashoffset: 0;
}
.label-cbx .checkbox-animated {
    width: 28px;
    height: 28px;
    border: 2px solid #c8ccd4;
    border-radius: 3px;
}
.label-cbx .checkbox-animated svg {
    position: absolute;
    top: 0;
    left: 0;
}
.label-cbx .checkbox-animated svg path {
    fill: none;
    // stroke: $main-red;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 71px;
    stroke-dashoffset: 71px;
    transition: all 0.6s ease;
}
.label-cbx .checkbox-animated svg polyline {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18px;
    stroke-dashoffset: 18px;
    transition: all 0.3s ease;
}
.label-cbx > span {
    pointer-events: none;
    vertical-align: middle;
}

.cntr {
    position: relative;
    width: 50%;
    text-align: center;
}

.invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
