.input-container {
    margin-top: 16px;
    justify-content: space-between;
    display: flex;
    &:first-child {
        margin-top: 0;
    }
    .input-wrapper {
        position: relative;
        flex-grow: 1;
        &-2 {
            max-width: 49%;
        }
        &-3 {
            max-width: 32%;
        }
        label {
            margin-bottom: 8px;
            font-weight: 700;
            font-size: 14px;
            display: block;
            .question-mark {
                margin-left: 4px;
            }
            &.m11 {
                margin-bottom: 11px;
            }
        }
    }
}
